/********** FILE IMPORTS **********/
/*************************************/

@import url("bootstrap.css");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

/* main page styling */
body {
    font-family: Lato;
}
.navbar a{
    font-size: 1.8em !important;
    font-weight: bold !important;
}
#imgtop {
    background: transparent;
}

.myhead {
    background: url(../images/123.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding-top: 3vh;
    width: 100%;
}

.imagetext {
    padding-top: 30vh;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

/* keyframes form welcome */
.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .0.1em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation-direction: alternate-reverse;

    animation:
        typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* ORDER SECTION STYLING */
.order {
    background-image: linear-gradient(grey, gold);
}

#ordernow {
    font-size: 5vh;
    font-weight: bold;
}

.anim {
    animation: pulse 5s infinite;
    padding-top: 2vh;
    animation-duration: 2s;
    animation-name: mymouse;
}

@keyframes mymouse {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}