/********** FILE IMPORTS **********/
/*************************************/

@import url("bootstrap.css");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');

/* main page styling */
body {
    font-family: Lato;
}

.navbar a {
    font-size: 1.3em !important;
    font-weight: bold !important;
}

#imgtop {
    background: transparent;
}

.myhead {
    background: url(../images/1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding-top: 3vh;
    width: 100%;
}

.imagetext {
    padding-top: 30vh;
    color: black;
    font-weight: bold;

}

.imagetext>h1 {
    font-weight: bold;
}

/* ORDER SECTION STYLING */
.order {
    background-image: linear-gradient(gold, grey);
}

#ordernow {
    font-size: 5vh;
    font-weight: bold;
}

.anim {
    animation: pulse 5s infinite;
    padding-top: 2vh;
    animation-duration: 2s;
    animation-name: mymouse;
}
.myorder {
    font-family: "Supermercado One";
}

@keyframes mymouse {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}


/* Media queries */
@media (max-width: 767.98px) {
    .imagetext {
        padding-top: 0.1px;
        color: black;
        font-weight: bold;
    }

    .myhead {
        background: url(../images/1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        padding-top: 1px;
        width: 100%;
    }
}